<!DOCTYPE html>
<html>
	<head>
		<title>Joan's System</title>
		<%= csrf_meta_tags %>
		<meta charset="utf-8">
		<meta content="IE=edge" http-equiv="X-UA-Compatible">
		<meta content="width=device-width,initial-scale=1" name="viewport">
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= stylesheet_link_tag    'bootstrap.min', media: 'all', 'data-turbolinks-track' => true %>
		<% if !current_user.nil? %>
			<%= yield(:assets_css) %>
		<% end %>
	</head>
     
	<body style="background-color:<%= current_user.nil? ? "#7f7f7f" : "white" %>;" >
		<% if !current_user.nil? %>
			<nav class="navbar navbar-default navbar-fixed-top">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!-- <a class="navbar-brand" href="#">JPP</a> -->
						<%= link_to "JPP", root_path, class: "navbar-brand", method: :get %>
					</div>
					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li class="<%= yield(:set_active_customers) %>"><%= link_to "Customers", root_path, method: :get %></li>
							<!-- <li class="<%= yield(:set_active_users) %>"><%= link_to "Users", users_path, method: :get %></li> -->
							<li class="<%= yield(:set_active_settings) %>"><%= link_to "Settings", settings_path, method: :get %></li>
							<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
						</ul>
					</div>
				</div>
			</nav>

			<div class="container-fluid">
				<%= yield %>
			</div> 		
		<% else %>
			<style type="text/css">
				html, body, .container {
					height: 100%;
				}
			</style>
			<div class="container" style="margin-top: 0px; width: 100%;">
				<div class="loginmodal-container">
					<h1>Joan's Printing Press</h1><br>
					<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
						<%= f.text_field :login, placeholder: "Username", autofocus: true %>
						<%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
						<%= f.submit "Log in", class: "login loginmodal-submit" %>
					<% end %>

					<% flash.each do |name, msg| %>
						<center style="margin-top: 5px; color: <%= name == "alert" ? :red : :green %>;">
							<%= msg %>
						</center>
					<% end %>
					
				</div>
			</div>
		<% end %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	</body>
</html>